.photo {
  cursor: pointer;

  & > div {
    position: relative;
  }
  .photo-bottom-wall {
    position: absolute;
    display: none;
  }

  & > div:hover .photo-bottom-wall {
    display: flex;
  }
}
