{
  "extends": ["airbnb", "airbnb/hooks"],
  "rules": {
    "react/jsx-props-no-spreading": ["error", {
      "html": "ignore",
      "custom": "ignore",
      "exceptions": [""]
    }],
    "react/forbid-prop-types": ["off"]
  },
  "env": {
    "jest": true
}
}


