.photos-gallery {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));

  & > div {
    margin: 4px;
    transition: transform 0.25s;
    display: flex;
    align-items: center;
    img {
      width: 100%;
      height: auto;
      border-radius: 4px;
    }

    &:hover {
      transform: scale(1.05)
    }
  }
}
