body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0px 20px;
}

button,
input {
  outline: none;
}

button {
  cursor: pointer;
}

ul {
  padding: 0px;
  list-style-type: none;
  margin: 0px;
}

p {
  margin: 0px;
}

* {
  box-sizing: border-box;
}
