@import 'variables';
@import 'animations';
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0px;
  margin: 0px;
}

button,
input {
  outline: none;
}

button {
  cursor: pointer;
}

ul {
  padding: 0px;
  list-style-type: none;
  margin: 0px;
}

p {
  margin: 0px;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 20px 40px;
}

h4 {
  display: inline-block;
  border-bottom: 4px solid $color-primary-accent;
  margin-top: 0px;
}

.block {
  margin: 20px 0px;
}

.unsignificant-text {
  color: $color-text-secondary;
  font-size: 16px;
  font-weight: 400;
}

.error-text {
  color: $color-primary-accent;
  font-weight: 500;
  font-size: 13px;
  animation-name: $animation-opacity-in;
  animation-duration: 0.3s;
}

.highlight-text-accent {
  color: $color-primary-accent;
  font-weight: 700;
}

.star:before {
  content: '*';
}

.card {
  animation-name: $animation-move-down-up;
  animation-duration: 3s;
  animation-delay: 0.5s;
}

.appear {
  opacity: 1;
  animation-name: $animation-opacity-in;
  animation-duration: 0.5s;
}
